.container {  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-auto-columns: 3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". up ."
    ". form ."
    ". footer .";
}

.up { grid-area: up; }

.form { grid-area: form; }

.footer { grid-area: footer; }


html, body {
  height: 100%;
  background-color: gray;
}

/* .container {
  height: 87%;
} */


/* .container * {
  position: relative;
} */

/* .container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
} */